<ngx-dropzone class="custom-dropzone my-2" ngx-dropzone [accept]="'image/*'" (change)="selectFile($event)">
    <ngx-dropzone-label>
        <div>
            <h2>Dodaj zdjęcie</h2>
        </div>
    </ngx-dropzone-label>
    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of selectedFiles" [file]="f"
        [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
</ngx-dropzone>