<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>{{ currentCategoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">
                        <a routerLink="/products/{{ tempProduct.id }}" class="link-body-emphasis link-underline">
                        <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>
                        <hr>

                        <a routerLink="/products/{{ tempProduct.id }}" class="link-secondary link-offset-2 link-underline link-underline-opacity-0">
                        <h1>{{ tempProduct.name }}</h1>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency:'PLN' }}</div>
                        <a href="#" class="primary-btn link-underline link-underline-opacity-0">Dodaj do koszyka</a>
                    </div>
                </div>

                <!-- if products empty then display a message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    Nie znaleziono produktów.
                </div>
                
            </div>
        </div>
    </div>
</div>
