<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Twoje dane</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Imię</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                                        Proszę podać imię
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        Imię powinno zawierać conajmniej 2 litery
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Nazwisko</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                                        Proszę podać nazwisko
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Nazwisko powinno zawierać conajmniej 2 litery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="email?.errors?.['required']">
                                        Proszę podać maila
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']">
                                        Zły format maila
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Adres dostawy</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Kraj</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}    
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCountry?.errors?.['required']">
                                        Proszę wybrać kraj
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Ulica</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        Proszę podać ulicę
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                                        Ulica powinna zawierać conajmniej 2 litery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Miasto</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']">
                                        Proszę podać miasto
                                    </div>
                                    <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                                        Miasto powinna zawierać conajmniej 2 litery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Kod pocztowy</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                        Proszę podać kod pocztowy
                                    </div>
                                    <div *ngIf="shippingAddressZipCode?.errors?.['pattern']">
                                        Niepoprawny format kodu. Prawidłowy format to 00-000.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Mój adres rachunku jest taki sam jak adres dostawy
                    </label>
                </div>


                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Adres rozliczeniowy</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Państwo</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}    
                                    </option>
                                </select>
                                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressCountry?.errors?.['required']">
                                        Proszę wybrać państwo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Ulica</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        Proszę podać ulicę
                                    </div>
                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                        Ulica powinna zawierać conajmniej 2 litery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Miasto</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']">
                                        Proszę podać miasto
                                    </div>
                                    <div *ngIf="billingAddressCity?.errors?.['minlength']">
                                        Miasto powinno zawierać conajmniej 2 litery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Kod pocztowy</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                        Proszę podać kod pocztowy
                                    </div>
                                    <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                                        Kod pocztowy powinnien zawierać conajmniej 2 litery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit Card -->

                <!-- Stripe elements credit card section-->
                <div formGroupName="creditCard" class="form-area">

                    <h3>Płatność</h3>
                    <div id="card-element">
                        <!-- a Stripe element will be inserted here-->
                    </div>

                    <!-- Used to display form errors-->
                    <div id="card-errors" class="displayError.textContent !=='': 'alert alert-danger mt-1'"></div>
                
                
                </div>

                <!-- Order details -->
                <div class="form-area">
                    <h3>Podsumowanie</h3>
                    <hr>

                    <p>Ilość: {{ totalQuantity }}</p>
                    <p>Wysyłka: Darmowa</p>
                    <p>Łącznie do zapłaty: {{ totalPrice}} zł</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Potwierdzam zamówienie</button>
                </div>
            </form>
        </div>
    </div>
</div>
