<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="szumilas-shop" class="img-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
  </aside>

  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>
            <app-login-status></app-login-status>
            <button *ngIf="roles.indexOf('admin') > -1" routerLink="/add-product" class="au-btn-submit">Dodaj produkt</button>
            <button routerLink="/order-history" *ngIf="(roles.indexOf('user') > -1) && (roles.indexOf('admin') === -1)" class="au-btn-submit">Zamówienia</button>
          
            <app-cart-status *ngIf="roles.indexOf('admin') === -1"></app-cart-status>
            
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer>
  <div>
    Powyższa strona prowadzona jest w celach szkoleniowych, nie jest realnym sklepem internetowym. Zdjęcia pobrane z polarsport.
  </div>
</footer>
